* {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;

}
.interface {
    width: 580px;
    height: 450px;
    background: #4f415e;
}
.name-email {
}
table {
    padding: 20px;
    padding-top: 30px;
}

input {
    border: 1px solid #6c6078;
    padding: 9px;
    background: #4f415e;
    border-radius: 5px;
}
textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #6c6078;
    padding: 20px;
    background: #4f415e;
    border-radius: 5px;
}
button {
    color: #4f415e;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}