*{
    font-family: sans-serif;
    font-size: 20px;
    color: #322931;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.table-container {
    position: relative;
    width: 800px;
    height: 500px;
}
.table-nav {
    position: absolute;
    left: 400px;
    top: 50px;
    width: 2px;
    height: 100%;
    background-color: #ccc;
    transform: translateX(-50%);
}
.table-container .table-comment td{
    color: #626761;
    font-size: 14px;
}
.table-container .table-head {
    font-weight: bold;
}
button{
border: 1px solid #626761;
padding: 13px;
font-size: 18px;
background-color: white;
font-weight: bold;
}