
* {
    font-family: sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

img{
    position:absolute;
    bottom:288px;
    left:245px;
}
.block{
    width: 340px;
    height: 340px;
    position: relative;
}
.head{
    margin-left: 10px;
}
.block h1{
    background-color:#ed1a35;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    padding-top:  20px;
    padding-bottom: 20px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    border-top: none;
}
.block tr{
    top:-15px;
    position: relative;
}
.block td{
    color: #666666;
    border-top: 2px solid gray;
    padding-top: 20px;
}
.block span{
    color: #ff8c00;
    font-weight: 500;
}
button{
    font-size: 20px;
    font-weight: 700;
}
.sub{
    border-radius: 13px ;
    background-color: #d71730;
    padding: 13px;
    width: 250px;
    color: white;
    border: none;
}
.detail{
    margin-top: 10px;
    border-radius: 20px ;
    border:1px solid #ed1a35;
    color: #ed1a35;
    padding: 10px
}
