
*{
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.div-head h1{
    padding-left:10px ;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 10px solid orangered;
    font-size: 40px;
}
img{
    padding-top: 20px;
    padding-bottom: 20px;
}
.div-head{
    position: relative;
    margin-left: 10px;
}
.div-head h3{
    position: absolute;
    top: 382px;
    left: 9px;
    color: white;
    font-size: 40px;
    width: 700px;
}
h5{
    padding: 30px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 25px;
    color: #2d2d2d;
}
