:root {
    --nav-font: "Bebas Neue";
    --nav-choice-font: "Inter";
    --content-font: "Manrope";
    --header-color: #FFFFFF;
    --content-color: #C7C7C7;
    --path-color: #D3E97A;
    --backgound-img-color: #1A1A1A;
    --manroper-font: "Manrope";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #C7C7C7;
}

.container {
    background-color: #0A0A0A;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 60px;
    align-items: center;
}

nav p {
    font-size: 32px;
    font-family: var(--nav-font);
}

nav a {
    font-family: var(--nav-choice-font);
    font-size: 18px;
    text-decoration: none;
}
nav div:nth-of-type(2){
    background-color: transparent;
    border: none;
    display: none;
}
.header-container-1 {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 20px;   
}

.header-container-1  .child1 .title {
    font-family: var(--nav-font);
    color: #FFFFFF;
    font-size: 101px;
    list-style-type: none;
    padding-top: 108px;
    text-transform: uppercase;
    padding-left: 108px;
    width: 587px;
}
.header-container-1 .header-content {
    list-style-type: none;
    padding-left: 108px;
    width: 395px;
    
}
.header-button {
    margin-top: 40px;
}
.header-button button:nth-of-type(1){
    padding: 12px 25px 12px 25px;
    border-radius: 54px;
    margin-left: 108px;
    border: none;
    background-color: var(--path-color);
    color: #0A0A0A;
}
.header-button button:nth-of-type(2){
    background-color: #222222;
    border-radius: 360px;
    width: 54px;
    height: 54px;
    margin-left: 16px;
    border: none;
    color: var(--path-color);

}
.header-button button:nth-of-type(3){
    background-color: #222222;
    border-radius: 360px;
    width: 54px;
    height: 54px;
    margin-left: 16px;
    border: none;
    color: var(--path-color);
}
.header-button button:nth-of-type(3) i{
    color: var(--path-color);
}
.child2 {
    margin-right: 108px;
}
.header-container-1 .child2 img {
    width: 600px;
    height: 663px;
}
.header-container-1  .child2 {
    background-color: var(--content-color);
}

.header-container-2 {
    border-top: 3px solid #484848;
    margin-top: 80px;
}
.header-container-2 {
    margin-top: 80px;
    margin-left: 108px;
    margin-bottom: 80px;
}
.header-container-2 div:nth-of-type(1) {
    font-size: 76px;
    font-family: var(--nav-font);
    color: var(--header-color);
}
.header-container-2 div:nth-of-type(2) {
    font-family: var(--content-font);
    color: var(--content-color);
    width: 580px;
}
section {
    margin-left: 108px;
    margin-top: 60px;
}
section .content-1 {
    display: flex;
    gap: 48px;
    justify-content: center;
     margin-bottom: 120px;
}
section .content-1 div:nth-of-type(1) {
    background-color: #1A1A1A;
    width: 600px;
    height: 600px;
}
section  img {
    margin: 67px 57px 127px 57px;
    width: 468px;
    height: 347px;
} 
section button {
    font-size: 14px;
    margin: 16px;
    padding: 10px 8px ;
    border-radius: 10px;
    background-color: #0A0A0A;
    color: var(--content-color);
    border: none;
}
section .content-1 div:nth-of-type(2) {
    margin-top: 60px;
    padding-right: 108px;
}
section li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
section .content-1 .section1-title{
    font-size: 32px;
    font-family: "Manrope";
    color: var(--header-color);
}
section .content-1 li:nth-of-type(2) {
    margin-top: 16px;
    font-size: 18px;
    font-family: var(--content-font);
    width: 590px;
}
section .content-1 li:nth-of-type(3) {
    margin-top: 32px;
    font-family: var(--manroper-font);
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
section .content-1 li:nth-of-type(4) {
    border-top: 1px solid #484848;
    padding-top: 16px; 
    font-family: var(--manroper-font);
    margin-bottom: 16px;    
}
section .content-1 li:nth-of-type(5) {
    border-top: 1px solid #484848;
    margin-top: 16px;
    font-family: var(--manroper-font);
    margin-bottom: 16px;  
    border-bottom: 1px solid #484848; 
    padding-top: 16px; 
    padding-bottom: 16px; 
    margin-bottom: 48px;
}
section .content-1 a {
   color: #D3E97A;
   text-transform: uppercase;
   padding: 4px;
   border-bottom: 1px solid #D3E97A;
}
section .content-1 a:nth-of-type(2) {
    margin-left: 24px;
}








section .content-2 {
    display: flex;
    gap: 48px;
    justify-content: center;
     margin-bottom: 120px;
}
section .content-2 div:nth-of-type(1) {
    background-color: #1A1A1A;
    width: 600px;
    height: 600px;
}
section .content-2 div:nth-of-type(2) {
    margin-top: 60px;
    margin-right: 108px;
}
section li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
section .content-2 .section-title{
    font-size: 32px;
    font-family: "Manrope";
    color: var(--header-color);
}
section .content-2 li:nth-of-type(2) {
    margin-top: 16px;
    font-size: 18px;
    font-family: var(--content-font);
    width: 590px;
}
section .content-2 li:nth-of-type(3) {
    margin-top: 32px;
    font-family: var(--manroper-font);
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
section .content-2 li:nth-of-type(4) {
    border-top: 1px solid #484848;
    padding-top: 16px; 
    font-family: var(--manroper-font);
    margin-bottom: 16px;    
}
section .content-2 li:nth-of-type(5) {
    border-top: 1px solid #484848;
    margin-top: 16px;
    font-family: var(--manroper-font);
    margin-bottom: 16px;  
    border-bottom: 1px solid #484848; 
    padding-top: 16px; 
    padding-bottom: 16px; 
    margin-bottom: 48px;
}
section .content-2 a {
   color: #D3E97A;
   text-transform: uppercase;
   padding: 4px;
   border-bottom: 1px solid #D3E97A;
}
section .content-2 a:nth-of-type(2) {
    margin-left: 24px;
}
section .content-3 div:nth-of-type(1) {
    background-color: #1A1A1A;
    width: 600px;
    height: 600px;
}




