* {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    padding: 0;
    margin: 20px;
}

.container {
    height: 300px;
    width: 1600px;
    border: 1px solid black;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container div {
    background-color: #3498db;
    height: 100px;
    width: 358px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .block:nth-child(5)  {
    flex-grow: 5;
}