* {
    padding: 50px;
}

body {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.b1 {
    background-color: blue;
    color: white;
    font-size: 30px;
    width: 100px;
    height: 100px;
}

.b2 {
    background-color: yellow;
    color: white;
    font-size: 30px;
    width: 100px;
    height: 100px;
}

.b3 {
    background-color: red;
    color: white;
    font-size: 30px;
    width: 100px;
    height: 100px;
}